<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-block">
                    <p>Spo(r)tlight is een project van Sporta-federatie vzw</p>
                    <p>
                        <a href="#">Meer weten</a>
                    </p>
                    <p>
                        <a href="#">Inschrijvingsvoorwaarden</a>
                    </p>
                    <p>En kwam tot stand in samenwerking met onderstaande partners.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="footer-block contact-block">
                    <h5>Vragen?</h5>
                    <p>Vul dan het contactformulier in, we helpen je graag verder.</p>
                    <div class="our-address d-none d-md-block">Sporta federatie vzw<br>Boomgaardstraat 22 bus 50<br>2600 Berchem</div>
                    <div class="our-email d-none d-md-block">
                        <a href="mailto:sportlight@sporta.be">sportlight@sporta.be</a>
                    </div>
                    <div class="our-phone_number d-none d-md-block">
                        <a href="callto:03/286 58 29">03/286 58 29</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form class="contact-form">
                    <input type="text" name="name" placeholder="Naam">
                    <input type="email" name="email" placeholder="E-mailadres">
                    <textarea placeholder="Typ hier je bericht..."></textarea>
                    <input type="submit" value="Verzenden" class="btn-yellow">
                </form>
                <div class="footer-block d-block d-md-none">
                    <div class="our-address">Sporta federatie vzw<br>Boomgaardstraat 22 bus 50<br>2600 Berchem</div>
                    <div class="our-email">
                        <a href="mailto:sportlight@sporta.be">sportlight@sporta.be</a>
                    </div>
                    <div class="our-phone_number">
                        <a href="callto:03/286 58 29">03/286 58 29</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>