<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-4">
                <div class="logo">
                    <a href="#">
                        <img src="img/SportLight_logo.svg" alt="SportLight">
                    </a>
                </div>
            </div>
            <button type="button" class="show-menu"></button>
            <div class="col-lg-6 col-md-8">
                <nav class="main-nav">
                    <ul class="main-menu">
                        <li>
                            <a href="#">home</a>
                        </li>
                        <li>
                            <a href="#">aanbod</a>
                        </li>
                        <li>
                            <a href="#">over</a>
                        </li>
                        <li>
                            <a href="#">inschrijven</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</header>